<%= render "shared/header" %>
<h1 class="Lindex-title">
  <% if @prediction.persisted? %>
    Edit Your Prediction
    
  <% else %>
    Make Your Prediction
  <% end %>
</h1>
<%= turbo_frame_tag dom_id(@match, :frame) do %>
  <%= render "form" %>
<% end %>


