<div class="footer">
    <p style="color: white;">©Footy Predict</p>
    <%= link_to "About", about_path, class: 'footer-link' %>
    <a href="https://github.com/Hossam-Allam/predict-footy" class="footer-link" target="_blank">Source Code</a>
    <a href="https://www.linkedin.com/in/hossam-hesham-allam-refaie-6674a9282/" class="footer-link" target="_blank">linkedin</a>
</div>