<div>
    <div class="footer">
        <div class="f-left">
            <h2>Footy Predict</h2>
            <p class="f-paragraph">This website was built as an intersection between my two passions: football and coding. <br>
                Here you can predict match outcomes, without the threat of losing your house. <br>
                Instead of possible monetary gain, you win imaginary points and bragging rights among friends. <br> <br>
                <span style="color: rgba(1, 198, 238, 1);">I hope you enjoy this website as much as I do.</span>
            </p>
        </div>
    
        <div class="f-right">
            <h4 style="margin: 0px; padding: 0px;">Useful Links</h4>
            <%= link_to "About", about_path, class: 'footer-link' %>
            <a href="https://github.com/Hossam-Allam/predict-footy" class="footer-link" target="_blank" >Source Code</a>
        </div>
    </div>

    <div class="footest">
        <p>©Footy Predict. Created By Hossam Allam.</p>
    </div>
</div>