<%= render "shared/header"%>
<h1><%= @league.name %></h1>

<% @league.league_memberships.each do |membership| %>
  <p>
    <%= membership.user.name %>: <%= membership.points %> points
  </p>
<% end %>

