<%= render "shared/header" %>
<h1 class="Lindex-title">NUH UH!</h1>
<div class="nono">
    <h3>Match has already started or ended</h3>
    <h4>Back to <%= link_to "Matches", root_path, class: "backybacky" %></h4>
</div>