
<h1>Upcoming Matches</h1>

<div class="matches-container">
  <% @matches.each do |match| %>
    <div class="match">
      <h3 class="team"><%= match.home %></h3>
      <p class="date"><%= match.scheduled_at.strftime("%b %d, %Y") %></p>
      <h3 class="team"><%= match.away %></h3>
    </div>
  <% end %>
</div>
