.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #2C3E50, #7F8C8D);
    color: white;
    padding: 10px;
}

.header-brand {
    margin: 0;
    font-size: 1.5rem;
}

.header-links {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header a {
    color: rgb(162, 166, 198);
    font-weight: bold;
    text-decoration: none;
}

.header a:hover {
    color: rgb(155, 164, 232);
}

.user-name {
    margin-left: 10px;
    margin-right: 10px;
}

h3 > i {
    text-decoration: underline;
    color: rgb(114, 69, 69);
}

.Mindex-title {
    text-align: center;
}

@media (max-width: 768px) {
    .user-name {
        display: none;
    }

    .header-links {
        margin-left: auto;
    }

    .nav-links {
        gap: 12px;
    }
}