.Lindex-title {
    text-align: center;
}

.leagues-container {
    display: grid;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.league {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid rgb(126, 124, 124);
    padding: 20px;
    align-items: center;
}

.league-name,
.league-points,
.league-members {
    text-align: center;
}

.league-name>a {
    color: rgb(162, 166, 198);
    font-weight: bold;
    text-decoration: none;
}

.league-name>a:hover {
    color: rgb(155, 164, 232);
}

.league:hover {
    background-color: antiquewhite;
}

/* show page */

.code {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-weight: bold;
}

.code-box {
    border: 2px solid rgb(179, 179, 243);
    border-radius: 5px;
}

.standings {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.standings .league-membership {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.member-name {
    font-weight: bold;
}

/* new*/

.new-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-input {
    background-color: #a09b9b;
    border-color: #cccccc;
    color: #333333;
}

.create-league {
    background-color: rgb(138, 176, 138);
}

.create-league:hover {
    cursor: pointer;
    background-color: aquamarine;
}

/*forms*/

.league-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new-form {
    width: 100%;
    max-width: 600px;

    margin-bottom: 20px;

}

.new-form form {
    display: flex;
    align-items: center;
}

.new-form form label {
    width: 150px;

}

.new-form form .name-input {
    flex: 1;

    margin: 0 10px;

}

.new-form form .create-league {
    width: 150px;

}

@media only screen and (max-width: 450px) {
    .new-form form label {
        width: 75px;

    }

    .new-form form .create-league {
        width: 100px;

    }

    .new-form form .name-input {
        width: 75px;

    }
}